body {
	font-family: PT Sans, Helvetica, Arial, Verdana;
	height: 100%;

	font-size: 18px;
	line-height: 25px;
	color: #666666;
}

h1, h2, h3 {
	font-family: 'Jacques Francois', serif;
}

h2, h3 {
	margin-top: 40px;
}

.c80 {
	max-width: 400px;
}

.brand h1 {
	font-size: 70px;
}

.brand {
	text-align: center;
	font-size: 22px;
	line-height: 29px;
}

.social {
	padding: 20px;
}

.stage {
	margin: 0 auto;
	max-width: 700px;
}

.page {
	margin: 0 auto;
}

.addthis_toolbox {
	width: 244px;
	margin: 0 auto;
}

.page {
	display: none;
}

.menuSection {
	background-color: #666666;
}

.menu {
	list-style-type: none;
	text-align: center;
}

.menu li {
	display: inline;
	padding: 10px 5px 10px 5px;
	text-decoration: none;
}

.menu li a {
	text-decoration: none;
	color: #eeeeee;
}


social {
	padding: 100px;
}

.speaker {
	margin-top: 20px;
	margin-bottom: 20px;
}

.speaker-img {
	float: left;
	margin-right: 50px;
}

.sponsor {
	background-color: #cccccc;
}

.sponsor-content  {
	padding: 20px;
}

footer {
	margin-top: 40px;
	color: gray;
	font-size: 10px;
	line-height: 17px;
}