<article class="col-full">
	<div class="col-content">
		<h2>Frequently asked questions</h2>
	</div>
</article>

<article class="col-half">
	<div class="col-content">
		<h3>Do I need to attend on both days?</h3>

		<p>
			No, just attend the day you like most. Both days are
			independent to each other. But if you don't have a clue on Struts
			but would like to attend the Hackathon, it is recommended to
			join the training day as well.
		</p>
</div>
</article>

<article class="col-half">
	<div class="col-content">
		<h3>Do I become an Apache-committer when I participate the Hackathon?</h3>

		<p>
			Unfortunately not :-) You can become a committer when you demonstrate
			a long term interest on Struts. At the hackathon we'll work like we
			do at Apache and you'll learn a lot about the project. After that
			it is up to you if you would like to stick with the project or not.
		</p>
</div>
</article>

<article class="col-half">
	<div class="col-content">
		<h3>Why do I need an ICLA?</h3>

		<p>
			We would like to use your code in Struts and need your permission.
			The ICLA gives us that permission. Although it is not required
			to submit an ICLA to join the hackathon, it would be great. It's simply
			difficult to separate your code from the code of others.
		</p>
</div>
</article>

<article class="col-half">
	<div class="col-content">
		<h3>I have questions. Whom can I ask?</h3>

		<p>
			Christian is organizing the event and answers your questions. Please look
			for his e-mail address in the <a href="#" data-target="#imprint">Imprint</a>.
		</p>
	</div>
</article>