<article class="col-half">
	<div class="col-content">

		<h2>Hackathon</h2>

		<p>We are hacking the whole day.</p>

		<p>
			After a short introduction we will decide what 
			things we want to develop. Most likely we make up
			teams and cooperate. The Struts-committers will bring
			a lot of ideas for the Hackathon. Some of them will
			maybe be the base for Struts 3.
		</p>

		<p>
			<strong>Everybody who speaks Java is welcome.</strong>
			You don't need to be a Struts-expert. At the end of the day we
			have some great code at hands. But we also want to 
			make it easy for Struts newbiews to join into the framework.
		</p>

		<p>
			At this day we work as committers work at Apache.
			That said it is not only a first step into Struts, it is also
			a first step into the Apache Software Foundation.
			We would like you to know how much fun Open Source is. We
			would like to demonstrate the Apache Software Foundation
			is an open and welcoming organization.
		</p>
	</div>
</article>

<article class="col-half">
	<div class="col-content">

		<h3>TLDR</h3>

		<ul>
			<li>Introduction</li>
			<li>What to build?</li>
			<li>Hacking!</li>
			<li>Lunch</li>
			<li>Hacking!</li>
			<li>Beer + Food</li>
		</ul>

		<p>Food/Drinks are not included in the price.</p>

		<h3>Cost</h3>

		<p>The event currently has a cost. If you register:

			<ul>
				<li>until 31.07.2013 it's 25 €</li>
				<li>until 25.08.2013 it's 35 €</li>
			</ul>

		</p>
			
		<p>Registrations close on 25.08.2013.</p>

		<p>
			If we find sponsors we'll make the event cheaper or even free.
			In case this happens we will pay back money on the day of the event.
		</p> 

		<h3>Donate code</h3>

		<p>
			If you would like to see your code in the Struts repository we
			do need your permission. This is done by sending an ICLA
			to the Apache Software Foundation. Please see instructions in
			the ICLA itself:	
		</p>
		<p>
			<a href="http://www.apache.org/licenses/icla.txt">ICLA</a>
		</p>
		<p>
			<b>You can join the Hackathon without ICLA, </b>
			but we can't use your code then. If you would like to experiment a little
			with Struts, it's OK. But if you would like to work on the Struts-Core,
			it's better to submit an ICLA.
		</p>
		<p>
			If you have questions on the ICLA, please contact us.
		</p>
	</div>
</article>

<article class="col-full">
	<div class="col-content">

		<h3>Venue</h3>

		<p>
			We are hacking at the <a href="http://coworkingaugsburg.wordpress.com/">Max 30.1</a>. 
			There will be drinks at a good price and free W-Lan.
			The venue is in the middle of Augsburg, a beautiful city. Main trainstation is
			just 5 minutes by feet and there are a lot nice coffee shops around.
		</p>

		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=moritzplatz+augsburg&amp;ie=UTF8&amp;hq=&amp;hnear=Moritzplatz,+86150+Augsburg,+Schwaben,+Bayern,+Deutschland&amp;ll=48.36672,10.8976&amp;spn=0.006101,0.012156&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=moritzplatz+augsburg&amp;ie=UTF8&amp;hq=&amp;hnear=Moritzplatz,+86150+Augsburg,+Schwaben,+Bayern,+Deutschland&amp;ll=48.36672,10.8976&amp;spn=0.006101,0.012156&amp;t=m&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>
	</div>
</article>
