<article class="col-half">
	<div class="col-content">
		<h2>Training</h2>

		<p>This evening will take its time. In almost 3 hours
		you will learn about the magic of Apache Struts 2.
		Struts 2 is a modern framework and this will be demostrated.</p>

		<p>
			After a Struts 2 teaser we are going into depth.
			We discuss "interceptors", "OGNL" and the "ValueStack".
			We will not miss out web application security.
		</p>

		<p>
			There will be two live coding demos. The "Web Frameworks Radar"
			will show you how Struts relates to other frameworks.
		</p>

		<p>After this evening you know how to use Struts 2 - and when.</p>

		<p>
			All information comes from Apache Struts committers and Project
			Management Comittee members. Most of them have long years experience
			and know each any aspect of the framework. Questions welcome.
		</p>

		<p>
			An evening like that has usually a high cost, but this one 
			is free. Instead we have different motivations: we would
			like to prepare you for the Strutsathon, a whole day 
			hackathon around Struts.</p>

		<p>Note: please let us know if you are coming to the training day
			and if you prefer english as presentation language.</p>

</div>
</article>
<article class="col-half">
	<div class="col-content">

		<h3>Content</h3>

		<ul>
			<li>Struts Teaser (Rene)</li>
			<li>Live Demo: Jumpstart Struts 2 (Rene)</li>
			<li>Struts in Detail (Team)</li>
		</ul>
		
		Break after 60 Minuten.

		<ul>
			<li>Web-Frameworks Radar: Comparision to other frameworks (Rene)</li>
			<li>Live Demo: Feature Showcase: Coding with jQuery/Bootstrap (Johannes)</li>
		</ul>	

		Break after 40 Minuten.

		<ul>
			<li>Struts Security Thoughts (Lukasz)</li>
			<li>Developing Open Source at the Apache Software Foundation (Rene, Christian)</li>
		</ul>

		End after 40 Minuten.
</div>
</article>

<article class="col-full">
	<div class="col-content">
		<h3>Speaker</h3>

		<div class="speaker">
			<div class="speaker-img">
				<img src="img/speaker-rene.jpg" width="140" height="140" alt="Rene Gielen, V. P. Struts" />
			</div>
			<div class="speaker-text">
				Rene Gielen is Chair of the Apache Struts project and works as
				an independent consultant and trainer. He knows Struts 2 since
				the early beginning and is active even after 7 years of committing
				to Struts.
			</div>
		</div>

		<br style="clear:both" />

		<div class="speaker">
			<div class="speaker-img">
				<img src="img/speaker-johannes.jpg" width="140" height="140" alt="Johannes Geppert" />
			</div>
			<div class="speaker-text">
				Johannes Geppert works as developer and architect for an international
				logistics and e-commerce company. Besides his work on the Struts core,
				he maintains jQuery/Bootstrap UI components for Struts 2.
			</div>
		</div>

		<br style="clear:both" />

		<div class="speaker">
			<div class="speaker-img">
				<img src="http://placehold.it/140x140" width="140" height="140" alt="Rene Gielen, V. P. Struts" />
			</div>
			<div class="speaker-text">
				Lukasz Lenart is developer at SoftwareMill and one of the leading
				committers at Struts. He has an in-depth knowledge of Struts and
				the one who is patching the most security holes.
			</div>
		</div>

		<br style="clear:both" />
		
		<div class="speaker">
			<div class="speaker-img">
				<img src="img/speaker-christian.jpg" width="140" height="140" alt="Rene Gielen, V. P. Struts" />
			</div>
			<div class="speaker-text">
				Christian Grobmeier is independent developer, trainer and
				Chair of the Apache Logging project. He is active at Apache
				Struts for two years.
			</div>
		</div>
		
		<br style="clear:both" />
		

		<h3>Venue</h3>

		<p>The event is supported by the <a href="http://www.jug-augsburg.de">Java Usergroup Augsburg</a>, 
		which kindly provides a room with their sponsor SHI Elektronische Medien.</p>

		<p>
			SHI Elektronische Medien GmbH<br/>
			Curt-Frenzel-Str. 12<br/>
			86167 Augsburg<br/>
		</p>

		<p><a href="http://5578.srv1.scgo.eu/jug-augsburg-de/index.php?article_id=67">Details on travelling</a></p>

		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Curt-Frenzel-Stra%C3%9Fe,+Augsburg,+Deutschland&amp;aq=0&amp;oq=curt-frenzel-str&amp;sll=37.0625,-95.677068&amp;sspn=61.023673,86.748047&amp;ie=UTF8&amp;hq=&amp;hnear=Curt-Frenzel-Stra%C3%9Fe,+86167+Augsburg,+Bayern,+Deutschland&amp;t=m&amp;z=14&amp;ll=48.39563,10.92081&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=de&amp;geocode=&amp;q=Curt-Frenzel-Stra%C3%9Fe,+Augsburg,+Deutschland&amp;aq=0&amp;oq=curt-frenzel-str&amp;sll=37.0625,-95.677068&amp;sspn=61.023673,86.748047&amp;ie=UTF8&amp;hq=&amp;hnear=Curt-Frenzel-Stra%C3%9Fe,+86167+Augsburg,+Bayern,+Deutschland&amp;t=m&amp;z=14&amp;ll=48.39563,10.92081" style="color:#0000FF;text-align:left">Bigger Map</a></small>



	</div>
</article>
