<article class="col-full">
	<div class="col-content">
		<h2>Fragen und Antworten</h2>
	</div>
</article>

<article class="col-half">
	<div class="col-content">
		<h3>Muss ich an beiden Tagen teilnehmen?</h3>

		<p>
			Nein, du kannst dir aussuchen was besser für dich passt. Beide Tage sind
			völlig unabhängig von einander. Wenn du aber keine Ahnung von Struts hast
			aber am Hackathon teilnehmen möchtest, empfiehlt es sich natürlich
			auch am Trainings-Tag teilzunehmen.
		</p>
</div>
</article>

<article class="col-half">
	<div class="col-content">
		<h3>Bin ich automatisch Apache-Committer, wenn ich am Hackathon teilnehme?</h3>

		<p>
			Leider nicht :-) Du kannst aber Committer werden, wenn du längerfristiges
			Interesse an Struts zeigst. Am Hackathon wirst du lernen, wie ein Apache-Projekt
			funktioniert. Danach liegt es an dir, wie sehr du dich engagieren möchtest.
		</p>
</div>
</article>

<article class="col-half">
	<div class="col-content">
		<h3>Warum benötige ich ein ICLA?</h3>

		<p>
			Damit wir deinen Code in Struts verwenden dürfen, musst du es uns erlauben.
			Das ICLA gibt uns diese Erlaubnis. Da es schwer wird, am Hackathon deine
			Beiträge von den anderen zu unterscheiden, wäre es toll, wenn wir ein ICLA
			erhalten könnten.
		</p>
</div>
</article>

<article class="col-half">
	<div class="col-content">
		<h3>An wenn kann ich mich wenden, wenn ich Fragen habe?</h3>

		<p>
			Christian beantwortet dir gerne alle Fragen. Seine Kontaktadresse findest du im
			<a href="#" data-target="#imprint">Impressum</a>.
		</p>
	</div>
</article>