<article class="col-full">
	<div class="col-content">

		<h2>Hackathon</h2>

		<p>Wir hacken, ganztägig.</p>

		<p>
			Nach ein paar einleitenden Worten entscheiden wir, wer an welchen
			Features arbeitet. Gruppenbildung ist gewünscht, und Zusammenarbeit
			ohnehin. Die Struts-Committer werden eine Menge Ideen mitnehmen,
			die unter Umständen grundlegend für Struts 3 sein werden.
		</p>

		<p>
			Jeder ist Willkommen, solange er Java spricht. Ihr müsst keine 
			Struts-Experten sein, im Gegenteil. Am Ende des Tages möchten wir
			nicht nur großartigen Code aufweisen. Wir möchten es 
			Struts-Neulingen ermöglichen, in das Framework einzusteigen.
		</p>

		<p>
			Wir werden an diesem Tag so arbeiten, wie wir es eben bei Apache
			so tun. Es geht also nicht nur um einen Einstieg in Struts, es
			geht auch um einen Einstieg in die Apache Software Foundation.
			Wir möchten Lust auf Open Source wecken und zeigen, dass die ASF
			kein Buch mit sieben Siegeln ist.
		</p>

		<h3>Kosten + Teilnahmebedingungen</h3>

		<p>
			Die Kosten stehen noch nicht fest - wir hoffen, Sponsoren zu finden und
			das Event kostenlos durchführen zu können. Ansonsten wird der 
			UKB bei etwa 30 € liegen. Stay tuned!
		</p> 

		<p>
			Um eueren Code wirklich in's Struts Repository committen zu können,
			benötigen wir eure schriftliche Erlaubnis. Bitte sendet dazu folgendes 
			Formular (ICLA) an die Apache Software Foundation (Adresse ist dort
			angegeben).
		</p>
		<p>
			Formular: <a href="http://www.apache.org/licenses/icla.txt">ICLA</a>
		</p>
		<p>
			<b>Ohne ICLA ist keine Teilnahme möglich.</b> Bitte sendet das ICLA spätestens
			eine Woche vor Teilnahme an die ASF. Falls es Probleme oder Fragen dazu gibt,
			stehen wir euch gerne zur Verfügung.
		</p>

		<h3>Ablauf</h3>

		<ul>
			<li>Einleitende Worte</li>
			<li>Was baut wer?</li>
			<li>Hacking!</li>
			<li>Lunch</li>
			<li>Hacking</li>
			<li>Beer + Food</li>
		</ul>

		<h3>Ort</h3>

		<p>
			Wir sind im <a href="http://coworkingaugsburg.wordpress.com/">Max 30.1</a>
			untergebracht. Dort gibts es günstige Getränke und freies W-Lan. Und außerdem
			sind wir im Herzen von Augsburg, mit 5 Minuten Fußweg von der Bahn und einer
			Menge netter Cafés um uns herum.
		</p>

		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=moritzplatz+augsburg&amp;ie=UTF8&amp;hq=&amp;hnear=Moritzplatz,+86150+Augsburg,+Schwaben,+Bayern,+Deutschland&amp;ll=48.36672,10.8976&amp;spn=0.006101,0.012156&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=moritzplatz+augsburg&amp;ie=UTF8&amp;hq=&amp;hnear=Moritzplatz,+86150+Augsburg,+Schwaben,+Bayern,+Deutschland&amp;ll=48.36672,10.8976&amp;spn=0.006101,0.012156&amp;t=m&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>
	</div>
</article>
