<article class="col-half">
	<div class="col-content">
		<h2>Training</h2>

		<p>Dieser Abend dauert länger als üblich. In ca. drei Stunden
		wird erklärt, wie Apache Struts 2 funktioniert. Wer denkt, Struts
		ist out, hat sich geirrt. Struts ist ein modernes Framework, und
		genau das soll an diesem Abend belegt werden.</p>

		<p>Nach einem kurzen Überblick geht es bereits in die Tiefe.
		Begriffe wie "Interceptor", "OGNL" und "ValueStack" werden
		danach keine Fremdwörter mehr sein. Wer sich um die Sicherheit
		seiner Anwendung sorgen macht, wir ebenfalls fündig werden.</p>

		<p>Zwei Live Demos vertiefen das Ganze und der "Web Frameworks Radar"
		sorgt für die nötige Abgrenzung zu anderen Frameworks.</p>

		<p>Nach diesem Abend werden Sie nicht nur wissen, wie Sie Struts 2
		verwenden - sondern auch wann Sie es verwenden sollten.</p>

		<p>Dabei kommen die Infos aus erster Hand: alle Sprecher sind
		Struts Committer und im Project Management Committee. Die meisten
		von ihnen sind bereits seit vielen Jahren im Projekt und kennen
		nahezu jeden Winkel. Alle Fragen sind also erlaubt.</p>

		<p>Ein Abend wie dieser kostet normalerweise viel Geld. Doch
		die Struts-Experten verfolgen andere Ziele: am darauffolgenden
		Tag findet der "Strutsathon" statt. Ein ganztägiger Hackathon
		in der Mitte von Augsburg. Wer mitmachen will, aber noch keine 
		Ahnung von Struts hat, kann sich am Vortragsabend das Werkzeug holen.</p>

		<p>Anmerkung: da einer der Sprecher aus Polen kommt, werden
		Teile dieses Talks in Englisch sein (betrifft vor allem den
		Security Talk).</p>

</div>
</article>
<article class="col-half">
	<div class="col-content">

		<h3>Inhalte</h3>

		<ul>
			<li>Struts Teaser (Rene)</li>
			<li>Live Demo: Jumpstart Struts 2 (Rene)</li>
			<li>Struts in Detail (Team)</li>
		</ul>
		
		Pause nach etwa 60 Minuten.

		<ul>
			<li>Web-Frameworks Radar: Vergleich zu anderen Frameworks (Rene)</li>
			<li>Live Demo: Feature Showcase: Coding with jQuery/Bootstrap (Johannes)</li>
		</ul>	

		Pause nach etwa 40 Minuten.

		<ul>
			<li>Struts Security Thoughts (Lukasz)</li>
			<li>Developing Open Source at the Apache Software Foundation (Christian)</li>
		</ul>

		Ende nach etwa 40 Minuten.
</div>
</article>

<article class="col-full">
	<div class="col-content">
		<h3>Sprecher</h3>

		<div class="speaker">
			<div class="speaker-img">
				<img src="img/speaker-rene.jpg" width="140" height="140" alt="Rene Gielen, V. P. Struts" />
			</div>
			<div class="speaker-text">
					Rene Gielen is Chair des Apache Struts Projekts und arbeitet als 
selbstständiger Berater und Trainer. Er kennt Struts 2 seit
seinen Anfängen ist auch nach mehr als 7 Jahren immer noch
aktiv an seiner Entwicklung beteiligt.
			</div>
		</div>

		<br style="clear:both" />

		<div class="speaker">
			<div class="speaker-img">
				<img src="img/speaker-johannes.jpg" width="140" height="140" alt="Rene Gielen, V. P. Struts" />
			</div>
			<div class="speaker-text">
					Johannes Geppert arbeitet als Entwickler und Architekt
bei einem international tätigen Logistik und e-commerce Unternehmen. 
Neben seiner Arbeit am Struts Kern, hat er basierend auf
jQuery/Bootstrap UI Komponenten Plugins für Struts2 entwickelt.
			</div>
		</div>

		<br style="clear:both" />

		<div class="speaker">
			<div class="speaker-img">
				<img src="http://placehold.it/140x140" width="140" height="140" alt="Rene Gielen, V. P. Struts" />
			</div>
			<div class="speaker-text">
					Lukasz Lenart ist Entwickler bei SoftwareMill und einer der
führenden Committer bei Struts. Mit seinem tiefgehenden
Wissen über das Framework ist der meistens derjenige, der
Sicherheitslöcher patched. 

			</div>
		</div>

		<br style="clear:both" />
		
		<div class="speaker">
			<div class="speaker-img">
				<img src="img/speaker-christian.jpg" width="140" height="140" alt="Rene Gielen, V. P. Struts" />
			</div>
			<div class="speaker-text">
					Christian Grobmeier ist selbstständiger Entwickler
und Trainer und Chair des Apache Logging Projekts. 
Er ist seit zwei Jahren aktiv im Struts Projekt.
			</div>
		</div>
		
		<br style="clear:both" />
		

		<h3>Anreise</h3>

		<p>Die Veranstaltung findet mit Hilfe der <a href="http://www.jug-augsburg.de/%E2%80%8E">Java Usergroup Augsburg</a>
		statt, die mit ihren Sponsoren SHI Elektronische Medien freundlicherweise einen Raum bereitstellen.</p>

		<p>
			SHI Elektronische Medien GmbH<br/>
			Curt-Frenzel-Str. 12<br/>
			86167 Augsburg<br/>
		</p>

		<p><a href="http://5578.srv1.scgo.eu/jug-augsburg-de/index.php?article_id=67">Eine genaue Anfahrtsbeschreibung
		findet sich hier.</a></p>

		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Curt-Frenzel-Stra%C3%9Fe,+Augsburg,+Deutschland&amp;aq=0&amp;oq=curt-frenzel-str&amp;sll=37.0625,-95.677068&amp;sspn=61.023673,86.748047&amp;ie=UTF8&amp;hq=&amp;hnear=Curt-Frenzel-Stra%C3%9Fe,+86167+Augsburg,+Bayern,+Deutschland&amp;t=m&amp;z=14&amp;ll=48.39563,10.92081&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=de&amp;geocode=&amp;q=Curt-Frenzel-Stra%C3%9Fe,+Augsburg,+Deutschland&amp;aq=0&amp;oq=curt-frenzel-str&amp;sll=37.0625,-95.677068&amp;sspn=61.023673,86.748047&amp;ie=UTF8&amp;hq=&amp;hnear=Curt-Frenzel-Stra%C3%9Fe,+86167+Augsburg,+Bayern,+Deutschland&amp;t=m&amp;z=14&amp;ll=48.39563,10.92081" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>



	</div>
</article>
